### WHITELIST ###

# Ignore all
*
# Unignore subtrees
!*/


### GIT FILES ###

# Allow repo settings
!.gitignore
!.gitattributes
!readme.md


### CARGO ###

!./Cargo.toml
# Creating a binary, so remove from .gitignore
#!Cargo.lock
!rustfmt.toml
!rust-toolchain.toml


### CODE ###

!rayna_engine/
!rayna_engine/**
!rayna_ui/
!rayna_ui/**


### MISC ###

!scripts
!scripts/**

